/* Pantalla a altura viewport con 3 filas: header | main (scroll) | tabbar */
.screen{
  min-height: 100dvh;           /* d = dynamic, mejor en móviles */
  display: flex;
  flex-direction: column;
}

body{
  background-color: var(--background-color);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* El ÚNICO scroll va aquí */
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow: auto;                /* <- Scroll solo en main */
  -webkit-overflow-scrolling: touch;

  /*REPASAR*/
  /* >>> reserva espacio para las barras fijas <<< */
  padding-top: calc(var(--toolbar-h) + 8px);
  padding-bottom: calc(var(--tabbar-h) + env(safe-area-inset-bottom) + 8px);
}

h1{
  color: var(--white-color);
  margin-top: 5px;
}

.filtro-recursos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn{
  background-color: var(--background-color);
  border: none;
  color: var(--white-color);
  font-size: x-large;
  padding-top: 15px;
}

/*
.icon-btn:hover,.icon-link:hover{ background:#f3f3f3; }
.icon-btn:focus-visible,.icon-link:focus-visible{ outline:none; border-color: var(--ui-black,#111); }
*/
