

#cta-wrap-monumentos{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(env(safe-area-inset-bottom) + 15px);
  width: min(640px, calc(100% - 24px));
  justify-content: center;
  z-index: 900;
}

#btn-pill-monumentos{
  border-color: transparent;
  text-decoration: none;
}
